#Calculator {
  border: 1px solid rgb(95, 93,93);
  border-radius: 5px;
  width: 200px;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.button {
  width: 50px;
  height: 40px;
  margin: 3px;
}